:root {
  --bg-green: rgb(0, 50, 0);
}

#grassDisplay {
  font-size: 150px;
}

#PPDisp {
  font-size: 150px;
}

#xpDisplay {
  font-size: 50px;
}

button {
  font-size: 50px;
  border-radius: 20px;
}

body {
  background-color: var(--bg-green);
  color: white;
}

* {
  font-family: Courier New;
}
