@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300..700&display=swap');

:root {
  --bg-green: linear-gradient(to bottom, green, blue, purple);
}

#grassDisplay {
  font-size: 150px;
}

#PPDisp {
  font-size: 150px;
}

#xpDisplay {
  font-size: 50px;
}

body {
  background-image: var(--bg-green);
  color: white;
  font-family: Fira Code;
}

button {
  font-size: 50px;
  border-radius: 20px;
  font-family: Helvetica;
}

#presBtn {
  background-color: aquamarine;
}
