:root {
  --bg-green: linear-gradient(to bottom right, green, blue);
}

#grassDisplay {
  font-size: 150px;
}

#PPDisp {
  font-size: 150px;
}

#xpDisplay {
  font-size: 50px;
}

body {
  background-image: var(--bg-green);
  color: white;
  font-family: Firacode Nerd Font;
}

button {
  font-size: 50px;
  border-radius: 20px;
  font-family: Helvetica;
}

#presBtn {
  background-color: aquamarine;
}
